#sign-up-form{
    width: 100%;
    float: left;
    background: #131020;
    margin-top: 150px;
    &.email, &.name{
        padding: 20px 20px 35px 20px;
    }
    &.congrats{
        padding: 61px 20px 61px 20px;
    }

    .error{
        font-family: 'azo_sansregular';
        float: left;
        color: red;
        font-size: .75em;
        margin: 0 0 13px 0;
    }

    #disclaimer{
        padding: 0 12px;
        float: left;
        margin-top: 10px;
        .disclaimer-text{
            float: left;
            font-family: 'azo_sanslight';
            color: #888888;
            float: left;
            font-size: .70em;
            line-height: 1.2em;
            padding: 0 0 0 22px;
            margin: -2px 0 0 0;
        }
    }
}

@media only screen and (min-width: 320px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1024px) {

} 