#sign-up-form{
    width: 100%;
    float: left;
    background: #131020;
    margin-top: 150px;
    &.email, &.name{
        padding: 20px 20px 35px 20px;
    }
    &.congrats{
        padding: 61px 20px 61px 20px;
    }
    h1{
        font-family: 'elaine_d02_regularregular';
        color: #B6FDBF;
        font-size: 2em;
        margin: 0 0 14px 0;
        width: 100%;
        text-align: center;
        text-transform: lowercase;
    }
    h2{
        font-family: 'azo_sansbold';
        color: $light-grey-blue;
        font-size: 1em;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        line-height: 1.25em;
        margin-bottom: 10px;
        .line{       
            @extend %line;
        }
    }
    h3{
        font-family: 'azo_sansbold';
        color: $light-grey-blue;
        font-size: 1.4em;
        width: 100%;
        text-align: center;
        text-transform: capitalize;
        line-height: 1.25em;
        margin-bottom: 30px;
        padding: 0 20px;
        .line{       
            @extend %line;
        }
    }
    h4{
        font-family: 'azo_sanslight';
        color: $light-grey-blue;
        font-size: 1.15em;
        width: 100%;
        text-align: center;
        line-height: 1.25em;
        .line{       
            @extend %line;
        }
    }
    #input-wrapper{
        display: flex;
        justify-content: space-between;
    }

    #disclaimer{
        padding: 0 12px;
        float: left;
        margin-top: 10px;
        .checkbox-wrapper{
            display: block;
            position: relative;
            float: left;
            &:hover input ~ .checkmark{
                background-color: #ccc;    
            }
            cursor: pointer;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            input{
                position: absolute;
                opacity: 0;
                top: 0;
                left:0;
                cursor: pointer;
                &:checked ~ .checkmark{                    
                    background-color: #FFFFFF; 
                    &:after{
                        display: block;
                    }     
                }
            }
            .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                height: 12px;
                width: 12px;
                background-color: #eee;
                border: 1px solid #9B9B9B;
                border-radius: 2px;
                &:after{
                    content: "";
                    position: absolute;
                    display: none;
                    left: 3px;
                    top: -1px;
                    width: 5px;
                    height: 10px;
                    border: solid black;
                    border-width: 0 2px 2px 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
              }
        }
        .disclaimer-text{
            float: left;
            font-family: 'azo_sanslight';
            color: #888888;
            float: left;
            font-size: .70em;
            line-height: 1.2em;
            padding: 0 0 0 22px;
            margin: -2px 0 0 0;
        }
    }


}

@media only screen and (min-width: 320px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1024px) {

} 