#input-wrapper{
    display: flex;
    justify-content: space-between;
}

%input {        
    @include appearance(none);
    @include transition(background 0.1s ease-in-out);
    padding: 12px 16px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 4px;
    margin: 0 0 13px 0;
    color: white;
    font-family: 'azo_sansregular';
    &:focus, &:hover{
        outline: none;
        background: #5a5865;
    }
    @include placeholder {
        font-family: 'azo_sansregular';
        color: $light-grey-blue;
        font-size: 1em;
    }
    &.is-not-valid{
        background: rgba(255,0,0,.2);
    }
}

.full-width{
    @extend %input;
    width: 100%;    
}

.half-width{
    @extend %input;
    width: calc(50% - 5px);     
}